version: "2.2"
services:
  # --- Zookeeper & Kafka (The Message Bus) ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - fraud_guard_net # Attached to the explicit network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - fraud_guard_net # Attached to the explicit network

  # --- Kafka UI (Kafdrop) ---
  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      # Connects to the internal Kafka network name 'kafka' and port 29092
      KAFKA_BROKERCONNECT: kafka:29092
      JVM_OPTS: "-Xms16M -Xmx48M"
      SERVER_SERVLET_CONTEXTPATH: "/"
    networks:
      - fraud_guard_net # Attached to the explicit network

  # --- Flink Cluster (The Engine) ---
  jobmanager:
    image: flink:1.20-java17
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    networks:
      - fraud_guard_net # Attached to the explicit network

  taskmanager:
    image: flink:1.20-java17
    depends_on:
      - jobmanager
    command: taskmanager
    links:
      - "jobmanager:jobmanager"
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    networks:
      - fraud_guard_net # Attached to the explicit network

  postgres:
      image: postgres:15
      environment:
        POSTGRES_USER: flinkuser
        POSTGRES_PASSWORD: flinkpassword
        POSTGRES_DB: fraudguard_db
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - fraud_guard_net # Attached to the explicit networ
        
volumes:
  postgres_data:

networks: # Explicitly declare the network
  fraud_guard_net:
    driver: bridge